.container {
    background-color: pink;
}

header {
    background-color: pink;
}

#homepage-card {
 background-color: pink;
}


#finish-page-card {
    background-color:pink;
}

#highscore-card {
    background-color: pink;
}

#clock {
    text-align: right;
}