.container {
    background-color: pink;
}

header {
    background-color: pink;
}

#homepage-card {
 background-color: grey;
}



#finish-page-card {
    background-color: blue;
}

#highscore-card {
    background-color: brown;
}

#clock {
    text-align: right;
}