.card {
    border: 3px solid red;
    
}

.button {
  border: none;  
  padding: 7px 28px; 
}

#Homepage {
 background-color: pink;
}

#Endpage {
   background-color:aqua
}

#Quiz {
    background-color:pink;
}

#Leaderboard {
    background-color: red;
    display: 'none';
}

#clock {
    text-align: right;
}

h2 {
    text-align: center;
}

p {
    font-size: larger;
    text-align: center;
}




#center-homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}